<div class="leftBarCreatePlaylistDiv"  (click)="this.playlistService.enableCreationMode()">
  <div class="leftBarCreatePlaylistDivInside">
    <fa-icon [icon]="faPlus" class="mr-2"></fa-icon>
    <span>Create Playlist</span>
  </div>
</div>

<div class="text-center mt-3">
  <table class="playlistTable">
    <tr>
      <td>NAME</td>
      <td>DESCRIPTION</td>
      <td class="playlistDateAdded">DATE</td>
    </tr>
    <tr *ngFor="let playlist of playlists" class="playlistDiv" id={{playlist.playlistId}} (click)="playlistDivClick(playlist.playlistId);">
      <td><span>{{playlist.playlistName}}</span></td>
      <td><span>{{playlist.playlistDesc}}</span></td>
      <td class="playlistDateAdded">{{playlist.dateCreated}}</td>
    </tr>
  </table>
</div>
