.loginFormMainDiv{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 10;
}

.loginFormInside{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 400px;
    height: 400px;
    background-color: rgb(27,27,27);
    border: 1px solid rgb(40,40,40);
    overflow: auto;
    user-select: none;
}

.signInSpanDiv{
    width: 100%;
    text-align: center;
    margin-top: 10%;
    font-size: 26px;
    font-weight: 500;
    color: white;
}

.closeIconDiv{
    width: 100%;
    text-align: right;
    font-size: 26px;
    padding-right: 12px;
    color: white;
    cursor: pointer;
}

.closeIconDiv:hover{
    color: rgb(180, 0, 255);
}

.loginForm{
    margin-left: 10%;
    margin-right: 10%;
}

.loginFormInput{
    width: 100%;
    margin-top: 10%;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
}

.formSubmitButton{
    width: 60%;
    margin-left: 20%;
    height: 40px;
    margin-top: 10%;
    background-color: rgb(130, 0, 190);
    color: white;
    border: none;
    cursor: pointer;
}

.formSubmitButton:hover{
    background-color: rgb(180, 0, 255);
}

@media screen and (max-width: 650px) {
    .loginFormInside{
        width: 100%;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
    }
}