<form #loginForm="ngForm" class="loginForm" (ngSubmit)="login()">
  <input class="form-control searchFormInput" type="text" name="username" 
    placeholder="Username" required [(ngModel)]="model.username">
  <input class="form-control searchFormInput" type="password" name="password" 
    placeholder="Password" required [(ngModel)]="model.password">
  <button [disabled]="!loginForm.valid" class="formSubmitButton btn-secondary" type="submit">Login</button>
  <button class="formSubmitButton btn-secondary" type="reset" (click)="cancelLoginMode()">Cancel</button>
</form>