<div class="contentDiv"></div>
<div class="loginFormMainDiv">
  <div class="loginFormInside">
  
    
    <div *ngIf="!registerMode">
      <div class="closeIconDiv" (click)="cancelLoginMode()">
        <fa-icon [icon]="faTimes"></fa-icon>
      </div>
      <div class="signInDiv">
        Sign In
      </div>

      <form #loginForm="ngForm" class="loginForm" (ngSubmit)="login()">
        <input class="loginFormInput" type="text" name="username" 
          placeholder="Username" required [(ngModel)]="model.username">
        <input class="loginFormInput" type="password" name="password" 
          placeholder="Password" required [(ngModel)]="model.password">
        <button [disabled]="!loginForm.valid" class="formSubmitButton" type="submit">Login</button>
      </form>
      
      <div class="registerDiv" (click)="enableRegisterMode()">
        <span>Sign Up</span>
      </div>
    </div>



    <div *ngIf="registerMode">
      <div class="closeIconDiv" (click)="cancelLoginMode()">
        <fa-icon [icon]="faTimes"></fa-icon>
      </div>
      <div class="signInDiv">Sign Up</div>
      <form #registerForm="ngForm" class="loginForm" (ngSubmit)="register()">
          <input type="text" class="loginFormInput" required name="username" 
           [(ngModel)]="model.username" placeholder="Username">
          <input type="password" class="loginFormInput" required name="password" 
            [(ngModel)]="model.password" placeholder="Password">
          <button class="formSubmitButton" type="submit">Register</button>
      </form>
      <div class="registerDiv" (click)="cancelRegistrationMode()">
        <span>Cancel</span>
      </div>
    </div>

  </div>
</div>
