/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css'; 
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';

html, body{
    background-color: rgb(25, 25, 25);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.contentDiv{
    /* display: inline-block; */
    width: 60%;
    position: fixed;
    top: 65px;
    left: 20%;
    padding-bottom: 10px;
    bottom: 65px;
    vertical-align: top;
    overflow-y: auto;
    background-color: rgb(25, 25, 25);
}

::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 2px rgb(100, 100, 100); */
    border-radius: 10px;
    background-color:rgb(40, 40, 40);
}

::-webkit-scrollbar-thumb {
    /* background-color:rgb(130, 0, 190); */
    background-color:rgb(60, 60, 60);
    border-radius: 10px;
}

@media screen and (max-width: 840px) {
    .rightBar{
        display: none;
    }
    
    .leftBar{
        width: 25%;
    }
}

@media screen and (max-width: 840px) {
    .contentDiv{
        width: 75%;
        left: 25%;
        right: 0;
    }
}

@media screen and (max-width: 650px) {
    .contentDiv{
        width: 100%;
        left: 0;
        right: 0;
        bottom:110px;
    }
}


.nav{
    border-bottom: none !important;
}
.nav-link{
    color: rgb(210,210,210);
    font-size: 18px;
}
.nav-item{
    width: 33.33%;
    text-align: center;
    border-bottom: 1px solid rgb(210,210,210);
}

.nav-tabs > li.open, .nav-tabs > li:hover {
    border: none;
    border-bottom: 4px solid rgb(130, 0, 190);
}
.nav-tabs > li.open > a, .nav-tabs > li:hover > a {
    border: none;
    color: white;
}

.nav-tabs > li.active {
    border-bottom: 4px solid rgb(180, 0, 255);
    position: relative;
  }
  .nav-tabs > li.active > a {
    border: none;
    background: none !important;
    color: white !important;
  }