/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css'; 
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';

html, body{
    background-color: rgb(25, 25, 25) !important;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.contentDiv{
    /* display: inline-block; */
    width: 60%;
    position: fixed;
    top: 65px;
    left: 20%;
    padding-bottom: 10px;
    bottom: 65px;
    vertical-align: top;
    overflow-y: auto;
    background-color: rgb(25, 25, 25);
}

::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 2px rgb(100, 100, 100); */
    border-radius: 10px;
    background-color:rgb(40, 40, 40);
}

::-webkit-scrollbar-thumb {
    /* background-color:rgb(130, 0, 190); */
    background-color:rgb(60, 60, 60);
    border-radius: 10px;
}

@media screen and (max-width: 840px) {
    .rightBar{
        display: none;
    }
    
    .leftBar{
        width: 25%;
    }
}

@media screen and (max-width: 840px) {
    .contentDiv{
        width: 75%;
        left: 25%;
        right: 0;
    }
}

@media screen and (max-width: 650px) {
    .contentDiv{
        width: 100%;
        left: 0;
        right: 0;
        bottom:110px;
    }
}


/*----------- tracks styles -----------*/
.trackDiv a{
    color: inherit;
    text-decoration: none;
}
.trackTable{
    width:100%;
    /* max-width: 780px; */
    margin: auto;
    position: relative;
    table-layout: fixed;
}
.trackTable tr:first-child{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 300;
}
.trackTable tr{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgb(45,45,45);
    color: white;
    margin: auto;
    position: relative;
    font-weight: 500;
    user-select: none;
}

.trackTable td {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.trackTable tr td:nth-child(1) {
    width: 10%;
    text-align: center;
}
.trackTable tr td:nth-child(2) {
    padding-left: 20px;
    width: 25%;
}
 .trackTable tr td:nth-child(3) {
    padding-left: 20px;
    width: 25%;
} 
.trackTable tr td:nth-child(4) {
    padding-left: 20px;
    width: 15%;
}

.trackTable tr td:nth-child(5) {
    padding-left: 20px;
}

.trackTable tr td:nth-child(6) {
    /* padding-left: 20px; */
    width: 10%;
    text-align: center;
}

.downloadIcon:hover{
    color:rgb(180, 0, 255);
    cursor: pointer;
}

@media screen and (max-width: 615px) {
    .trackDateAdded{
        display: none;
    }
    .trackTable tr td:nth-child(2) {
        width: 45%;
        font-size: 14px;
    }
     .trackTable tr td:nth-child(3) {
        width: 45%;
        font-size: 14px;
    } 
}

@media screen and (max-width: 1000px) {
    .trackUploaderName{
        display: none;
    }
}