<div class="addTracksToPlaylistMainDiv">
  <div class="addTracksToPlaylistInside">
    <div class="closeIconDiv" (click)="this.trackService.disableAddTracksMode()">
      <fa-icon [icon]="this.trackService.faTimes"></fa-icon>
    </div>
    <div *ngFor="let track of tracks" class="addTrackDiv trackDiv" id={{track.publicId}} (click)="this.trackService.trackDivClick(track.publicId); this.trackService.setActiveTrack(track);" 
        (mouseover)="this.trackService.trackDivMouseOver(track.publicId)" (mouseout)="this.trackService.trackDivMouseOut(track.publicId)">
      <div class="addTrackIconDiv" *ngIf="!this.trackService.isTrackActive(track)"><fa-icon [icon]="this.trackService.faPlay"></fa-icon></div>
      <div class="addTrackIconDiv" *ngIf="this.trackService.isTrackActive(track)"><fa-icon [icon]="this.trackService.faPause"></fa-icon></div>
      <div class="addTrackInfoDiv">
        <span class="trackNameSpan">{{track.trackName}}</span>
        <span class="performerNameSpan">{{track.performerName}}</span>
      </div>
    </div>
  </div>
</div>