.addTracksToPlaylistMainDiv{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 10;
    overflow: auto;
    display: flex;
    /* align-items: center; */
}
.addTracksToPlaylistInside{
    position: relative;
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    margin: auto;
    background-color: rgb(27,27,27);
    border: 1px solid rgb(40,40,40);
    user-select: none;
}
.addTrackDiv{
    height: 50px;
    border-top: 1px solid rgb(40,40,40);
    color: white;
}

.closeIconDiv{
    width: 100%;
    text-align: right;
    font-size: 26px;
    padding-right: 12px;
    color: white;
    cursor: pointer;
    height: 30px;
}
.closeIconDiv:hover{
    color: rgb(180, 0, 255);
}

.addTrackIconDiv{
    display: inline-block;
    height: 100%;
    width: 40px;
    font-size: 24px;
    padding-top: 7px;
    padding-left: 7px;
    vertical-align: top;
    cursor: pointer;
}
.addTrackIconDiv:hover{
    color: rgb(180, 0, 255);
}
.addTrackInfoDiv{
    display: inline-block;
    width: 100%;
    max-width: 300px;
}
.trackInfoSpan{
    display: block;
    width: 100%;
    height: 50%;
}
.trackInfoSpan:first-child{
    font-weight: 400;

}
.searchForm{
    width: 100%;
    height: 40px;
    display: inline-block;
    /* padding: 10px; */
}

.searchIconDiv{
    display: inline;
}
.searchIcon{
    /* font-size: 20px; */
    color: rgb(200,200,200);
}
.searchFormInput{
    display: inline;
    min-width: 90%;
    max-width: 100%;
    margin-left: 5px;

    background-color: inherit;
    border: none;
    border-bottom: 1px solid rgb(200,200,200);
    outline: none;
    color: rgb(200,200,200);
}
.tracksDiv{
    max-height: 330px;
    overflow: auto;
}