nav{
    background-color: black;
    width: 60%;
    height: 65px;
    position: absolute;
    top: 0;
    left: 20%;
}

.navInside{
    height: 100%;
    width:100%;
}

.backFrontIcons{
    display: inline-block;
    width: 15%;
    margin-left: 5%;
    margin-top: 15px;
    font-size: 25px;
    color: rgb(200,200,200);
}
.navIcon{
    display: inline-block;
    width: 50%;
    cursor: pointer;
}
.navIcon:hover{
    color: white;
}

.searchForm{
    width: 80%;
    display: inline-block;
    margin-top: 15px;
}

.searchIconDiv{
    display: inline;
}
.searchIcon{
    /* font-size: 20px; */
    color: rgb(200,200,200);
}
.searchFormInput{
    display: inline;
    min-width: 80%;
    max-width: 100%;
    margin-left: 5px;

    background-color: inherit;
    border: none;
    border-bottom: 1px solid rgb(200,200,200);
    outline: none;
    color: rgb(200,200,200);
}

@media screen and (max-width: 840px) {
    nav{
        width: 75%;
        left: 25%;
        right: 0;
    }
}

@media screen and (max-width: 650px) {
    nav{
        width: 100%;
        left: 0;
        right: 0;
    }
    .backFrontIcons{
        display: none;
    }
    .searchForm{
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .searchIconDiv{
        display: none;
    }
    .searchFormInput{
        width:100%;
    }
}
