<div class="leftBar">

  <div class="leftBarUpperDivMain">
    <table class="leftBarUpperDiv">
      
      <tr>
        <a [routerLink]="['']">
          <td><fa-icon [icon]="faHome"></fa-icon></td>
          <td><span>Home</span></td>
        </a>
      </tr>
      
      <!-- <tr>
        <td><fa-icon [icon]="faEnvelope"></fa-icon></td>
        <td><span>Messages</span></td>
      </tr> -->
      <tr>
        <a [routerLink]="['/library/playlists']">
          <td><fa-icon [icon]="faCompactDisc"></fa-icon></td>
          <td><span>Library</span></td>
        </a>
      </tr>
      <tr>
        <a [routerLink]="['/profile']">
          <td><fa-icon [icon]="faUser"></fa-icon></td>
          <td><span>Profile</span></td>
        </a>
      </tr>
    </table>
  </div>

  <div class="leftBarLowerDiv">
    <div class="leftBarLowerDivInside">
      <div class="infospanDiv">
        <span class="info-span">COMMON PLAYLISTS</span>
      </div>
      <div class="playlistDiv">
        <span class="playlistSpan">For mom</span>
      </div>
      <div class="playlistDiv">
        <span class="playlistSpan">inside your car</span>
      </div>
      <div class="playlistDiv">
        <span class="playlistSpan">.badmood</span>
      </div>
      <div class="playlistDiv">
        <span class="playlistSpan">Going crazy</span>
      </div>
      <div class="playlistDiv">
        <span class="playlistSpan">Classic rock</span>
      </div>
      
      <div class="userPlaylistsDiv" *ngIf="loggedIn()">
        <div class="infospanDiv mt-3">
          <span class="info-span">YOUR PLAYLISTS</span>
        </div>
        <div class="playlistDiv" *ngFor="let playlist of playlists" [routerLink]="['/library/playlists', playlist.playlistId]">
          <span class="playlistSpan">{{playlist.playlistName}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="leftBarCreatePlaylistDiv">
    <div class="leftBarCreatePlaylistDivInside" [routerLink]="['/library/playlists/create']">
      <fa-icon [icon]="faPlus" class="mr-2"></fa-icon>
      <span>New Playlist</span>
    </div>
  </div>

</div>