.addTracksToPlaylistMainDiv{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 10;
    overflow: auto;
    display: flex;
    /* align-items: center; */
}
.addTracksToPlaylistInside{
    position: relative;
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    margin: auto;
    background-color: rgb(27,27,27);
    border: 1px solid rgb(40,40,40);
    user-select: none;
    color: white;
}

.playlistTable td{
    width: 50%;
}
.playlistTable tr:hover{
    background-color: rgb(40,40,40);
}

.closeIconDiv{
    width: 100%;
    text-align: right;
    font-size: 26px;
    padding-right: 12px;
    color: white;
    cursor: pointer;
}

.closeIconDiv:hover{
    color: rgb(180, 0, 255);
}